html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,:after,:before {
    box-sizing:inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #ffff;
    margin:0
}

/*header and navigation*/

.flex-container {
    display: flex;
    background-color: #090B0E;
    align-items: center;
    text-align: center;
    width: 100%;
    position:sticky;
    top: 0;
}

.nav-items {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 71px;
}

.logo {
    text-align: center;
}


.logo__img {
    width: 113px;
}

/*hamburger content*/

nav {
    transition:all 0.3s linear;
}

.nav {
    display: flex;
    flex-direction: column;
    background-color:#090B0E;
    font-weight:800;
    width: 288px;
    font-size: 20px;
    height: 817px;
    position: fixed;
    top: 150px;
    left: 0;
}

.nav ul {
    margin-top: 31px;
    padding-left: 0;
}
.nav ul :link {
    text-decoration: none;
}

.nav-first-three li {
    margin-bottom: 33px;
    list-style: none;
    text-align: left;
}

.nav-second-three li {
    margin-bottom: 33px;
    list-style: none;
    text-align: left;
}

.nav-third-three li {
    margin-bottom: 33px;
    list-style: none;
    text-align: left;
}

nav .logo__img {
    margin-top: 24px;
    display:block;
    margin-left:auto;
    margin-right: auto;
}

li img {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    float:left;
    padding-left: 35px;
}

.sepLineLogo {
    background-color: #545782;
    height: 4px;
    width: 100%;
    margin-top: 35px;
}

.sepLinesHamburger {
    background-color: #545782;
    height: 4px;
    width: 100%;
    margin-bottom: 35px;
}

.bars {
    background-color:#ffff;
    width: 24.72px;
    height: 4px;
    margin: 5.5px 0;
}

a:link {
    color:white;
}

a:visited {
    color:white;
}

/*javascript*/
.nav--toggle {
    left: 69% !important;
}

/*media queries*/

@media (max-width:450px) {
    .nav {
        transform: translateX(-100%)
    }
    
    .logo {
        margin: 0 66px 0 82px;
    }
}

@media (min-width: 550px) {
    .nav {
        transform: translateX(-100%);
        top: 167px;
    }

    .nav--toggle {
        left: 37% !important;
    }

    .friends {
        margin-left: 187px;
    }

    .bars {
        margin-right: 241px;
    }
}

/*body*/

body {
    background-color:#111220;
}

/*footer*/

.footer-container {
    display: flex;
    flex-direction:column;
    font-family: 'Roboto';
    background-color:#111220;
}

footer h4 {
    text-align: center;
    margin: auto;
    margin-top: 9px;
}

footer h5 {
    text-align: center;
    margin: auto;
    margin-top: 24px;
    font-weight: 400;
}

.bottomlist {
    display: grid;
    grid-template-columns:104px 104px;
    list-style: none;
    font-size: 14px;
    font-weight: 100;
    justify-content: center;
}

.toplist {
    display:grid;
    grid-template-columns: 95px 95px 103px;
    list-style:none; 
    font-size: 14px;
    font-weight:100;
    justify-content: center;
    margin-top: 24px;
}

footer img {
    width: 202px;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;
}

/*home page*/

.gameButtons button {
    background-color:#252747;
    width: 131.58px;
    height: 105px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
}

.gameButtons {
    display: grid;
    grid-template-columns: 193.58px 129px;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.dailyGame img {
    width: 54.50px;
    margin: auto;
}

.rapidGame img {
    width: 63px;
}

.blitzGame img{
    width: 40.76px;
}

.bulletGame img{
    width: 81.48px;
}

.lessonsGame img {
    width: 42px
}

.puzzlesGame img{
    width: 63px;
}

.gameButtons p {
    text-align: center;
}

.viewPostButton {
    background-color
}

.friendBot {
    margin: 51px 0 45px 0;
    text-align: center;
}

.playFriend {
    background: transparent;
    outline: #8BEEDD solid 3px;
    width: 145px;
    height: 44px;
    border: none;
    border-radius: 5px;
    color: #8BEEDD;
    font-size: 16px;
}

.playFriend img {
    width: 23.18px;
    height: 23.18px
}

.playBot {
    background: transparent;
    outline: #8BEEDD solid 3px;
    width: 145px;
    height: 44px;
    border: none;
    border-radius: 5px;
    color: #8BEEDD;
    font-size: 16px;
}

.playBot img {
    width: 27px;
}

.recentGames h3 {
    text-align: center;
    font-size: 20px;
}

.recentGames button {
    background: transparent;
    width: 145px;
    height: 44px;
    border: none;
    color: #ffff;
    font-size: 20px;
}

.viewAll {
    text-align:center;
}

.recVid {
    margin-top: 43px;
}

.recVid h3 {
    text-align:center;
    font-size: 21px;
    font-weight: bold;
}

.beatRuyVid img {
    text-align: center;
}

/*videos and tutorials page*/


/*forum page*/
.postContainer {
    background-color: #252747;
}

.postContainer button {
    background-color: transparent;
    border:none;
}

.createButton {
    background-color: transparent;
    border:none;
}

/*news page*/

/*account page*/

.dailyRating, .rapidRating, .blitzRating, .bulletRating, .lessonsRating, .puzzlesRating {
    background-color:#282547;
}

.recentGames {
    background-color:#080912;
    padding-top: 46px;
    padding-bottom: 38px;
}

.viewAll {
    background-color: transparent;
    color: #ffff;
}

/*friends page*/

.rightSideUp, .topDawg, .twelveDuck, .maryProfile {
    background-color: #252747;
}

/*forum post page*/

.mainPost, .response {
    background-color: #252747;
}

.subResponse {
    background-color: #161834;
}