html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,:after,:before {
    box-sizing:inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #ffff;
    margin:0
}

/*header and navigation*/

.flex-container {
    display: flex;
    background-color: #090B0E;
    align-items: center;
    text-align: center;
    width: 100%;
    position:sticky;
    top: 0;
}

.nav-items {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 71px;
}

.logo {
    text-align: center;
}


.logo__img {
    width: 113px;
}

.friends:hover {
    color: gray;
}

/*hamburger content*/

nav {
    transition:all 0.3s linear;
}

.nav {
    display: flex;
    flex-direction: column;
    background-color:#090B0E;
    font-weight:800;
    width: 288px;
    font-size: 20px;
    height: 817px;
    position: fixed;
    top: 150px;
    left: 0;
}

.nav ul {
    margin-top: 21px;
    padding-left: 0;
}
.nav ul :link {
    text-decoration: none;
}

.nav-first-three li {
    margin-bottom: 33px;
    list-style: none;
    text-align: left;
}

.nav-second-three li {
    margin-bottom: 33px;
    list-style: none;
    text-align: left;
}

.nav-third-three li {
    margin-bottom: 33px;
    list-style: none;
    text-align: left;
}

nav .logo__img {
    margin-top: 24px;
    display:block;
    margin-left:auto;
    margin-right: auto;
}

li img {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    float:left;
    padding-left: 35px;
    text-align:center;
}

.bot-game-list img{
    margin-right: 34px;
}

.help-list img, .sign-out-list img {
    margin-right: 34px;
}

.sepLineLogo {
    background-color: #545782;
    height: 4px;
    width: 100%;
    margin-top: 35px;
}

.sepLinesHamburger {
    background-color: #545782;
    height: 4px;
    width: 100%;
    margin-bottom: 0px;
}

.bars {
    background-color:#ffff;
    width: 24.72px;
    height: 4px;
    margin: 5.5px 0;
}

a:link {
    color:white;
}

a:visited {
    color:white;
}

/*javascript*/
.nav--toggle {
    left: 69% !important;
}

/*body*/

body {
    background-color:#111220;
}

/*footer*/

.footer-container {
    display: flex;
    flex-direction:column;
    font-family: 'Roboto';
    background-color:#111220;
}

footer h4 {
    text-align: center;
    margin: auto;
    margin-top: 9px;
}

footer h5 {
    text-align: center;
    margin: auto;
    margin-top: 24px;
    font-weight: 400;
}

.bottomlist {
    display: grid;
    grid-template-columns:104px 104px;
    list-style: none;
    font-size: 14px;
    font-weight: 100;
    justify-content: center;
}

.toplist {
    display:grid;
    grid-template-columns: 95px 95px 103px;
    list-style:none; 
    font-size: 14px;
    font-weight:100;
    justify-content: center;
    margin-top: 24px;
}

footer img {
    width: 202px;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;
}

/*home page*/

.gameButtons button {
    background-color:#252747;
    width: 131.58px;
    height: 105px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
}

.gameButtons button:hover {
    background-color: #191b39;
}

.dailyGame, .rapidGame, .blitzGame, .bulletGame, .lessonsGame, .puzzlesGame {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.gameButtons {
    display: grid;
    grid-template-columns: 200px 200px;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.dailyGame img {
    width: 54.50px;
    margin: auto;
}

.rapidGame img {
    width: 63px;
}

.blitzGame img{
    width: 40.76px;
}

.bulletGame img{
    width: 81.48px;
}

.lessonsGame img {
    width: 42px
}

.puzzlesGame img{
    width: 63px;
}

.gameButtons p {
    text-align: center;
    font-weight: bold;
}

.friendBot {
    margin: 51px 0 45px 0;
    text-align: center;
    justify-content:center;
    display:flex;
}

.playFriend {
    background: transparent;
    outline: #8BEEDD solid 3px;
    width: 145px;
    height: 44px;
    border: none;
    border-radius: 5px;
    color: #8BEEDD;
    font-size: 16px;
    margin-right: 13px;
}

.friend-button-items button:hover {
    background: #8BEEDD;
    color: #111220;
}

.playFriend img {
    width: 23.18px;
    height: 23.18px
}

.playBot {
    background: transparent;
    outline: #8BEEDD solid 3px;
    width: 145px;
    height: 44px;
    border: none;
    border-radius: 5px;
    color: #8BEEDD;
    font-size: 16px;
    margin-left: 13px;
}

.playBot img {
    width: 27px;
}

.recentGames h3 {
    text-align: center;
    font-size: 20px;
}

.recentGames button {
    background: transparent;
    width: 145px;
    height: 44px;
    border: none;
    color: #ffff;
    font-size: 20px;
}

.viewAll {
    text-align:center;
}

.recVid {
    display: flex;
    flex-direction: column;
    margin-top: 43px;
    align-items:center;
}

.beatRuyVid {
    display: flex;
    flex-direction: column;
}

.recVidTitle {
    text-align:center;
    font-size: 21px;
    font-weight: bold;
}

.beatRuyVid img {
    justify-content: center;
    margin: auto;
    display:flex;
}

.trendingContainer {
    background-color: #252747;
    border-radius: 13px;
    margin: 0 16px 0 16px;
    height: 267px;
    margin-bottom: 41px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 1px;
}

.trending-post-heading {
    color:#8BEEDD;
    font-size: 20px;
    font-weight: bold;
    margin-top:21px;
}

.trending-user {
    font-size: 16px;
    font-weight: 400;
    margin-bottom:0;
}

.trending-title {
    font-size: 18px;
    font-weight: 600;
    color: #DEDEDE;
    margin-top: 4px;
    margin-bottom: 0;
}

.trending-post-text {
    margin-top: 7px; 
    font-size: 16px;
    color: #DEDEDE;
    margin-bottom: 0;
}

.viewPostButton button {
    background: transparent;
    outline: #8BEEDD solid 3px;
    width: 145px;
    height: 44px;
    border: none;
    border-radius: 5px;
    color: #8BEEDD;
    font-size: 16px;
    margin-top: 32px;
    font-weight: bold;
}

.viewPostButton button:hover {
    background-color: #8BEEDD;
    color: #252747;
}

.chess-pawn {
    display: none;
}

/*videos and tutorials page*/

.videosHead {
    text-align: center;
}

.searchContainer {
    width: 302px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

input  {
    background-color: transparent;
    border: none;
    font-size: 20px;
    margin: auto;
    outline: none;
    padding-left: 16px;
}

.search-bar {
    width: 307px;
    max-width: 400px;
    background: #D9D9D9;
    height: 44px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.searchContainer button {
    background-color: #080912;
    outline: none;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 44px;
    width: 68px;
    margin-left: 18px;
}

.vidInfo {
    display: flex;
    flex-direction: row;
}

.secondary-vid-info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.vidpfp {
    width: 44px;
}

.by-and-view {
    display: flex;
    flex-direction:  row;
}

.video-title {
    font-size: 17px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.content-creator {
    font-size: 15px;
    margin-top: 1px;
    margin-right: 11px;
}

.video-views {
    font-size: 12px;
    margin-top: 3px;
}

.thumbnail {
    margin-bottom: 9px;
}

.vidButtons {
    margin-top: 49px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.vidButtons button {
    height:44px;
    width: 78px;
    background-color: #252747;
    color: white;
    border-radius: 5px;
    border: none;
    margin-bottom: 49px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: bold;
}

.vidButtons .popular {
    margin-right: 8px;
}

.vidButtons .popular:focus {
    margin-right: 8px;
    background-color:#080912;
}

.vidButtons .forYou, .live {
    margin-left: 8px;
    margin-right: 8px;
} 

.vidButtons .forYou:focus {
    margin-left: 8px;
    margin-right: 8px;
    background-color:#080912;
}

.vidButtons .live:focus {
    margin-left: 8px;
    margin-right: 8px;
    background-color:#080912;
}

.vidButtons .sort:focus {
    margin-left: 8px;
    background-color:#080912;
}

.vidButtons .live img {
    margin-right: 4px;
}

.vidButtons .sort {
    margin-left: 8px;
}

.videos-tab {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.dutchVid .thumbnail img{
    justify-content: center;
    margin: auto;
    display:flex;
}

.dutchVid, .londonVid, .ruyVid, .stockfishVid, .kidVid, .mosquitoVid {
    margin-bottom: 38px;
}

.londonVid .thumbnail img{
    justify-content: center;
    margin: auto;
    display:flex;
}

.ruyVid .thumbnail img{
    justify-content: center;
    margin: auto;
    display:flex;
}

.stockfishVid .thumbnail img{
    justify-content: center;
    margin: auto;
    display:flex;
}

.kidVid .thumbnail img{
    justify-content: center;
    margin: auto;
    display:flex;
}

.mosquitoVid .thumbnail img{
    justify-content: center;
    margin: auto;
    display:flex;
}

.loadMore {
    background: transparent;
    outline: #8BEEDD solid 3px;
    width: 145px;
    height: 44px;
    border: none;
    border-radius: 5px;
    color: #8BEEDD;
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin: auto;
    margin-bottom: 17px;
}

.loadMore:hover {
    background: #8BEEDD;
    color: #111220;
}



/*forum page*/
.postContainer {
    background-color: #252747;
    width: 358px;
    height: 255px;
    border-radius: 13px;
    display: block;
    margin: auto;
    padding: 10px;
    margin-bottom: 35px;
}

.forumHeader {
    text-align: center;
    font-size: 24px;
}

.forumTopButtons {
    text-align: center;
    margin-bottom: 16px;
    margin-top: 21px;
}

.categoryButton {
    margin-right: 73.5px;
}

.createButton {
    margin-left: 73.5px;
}

.likeDislike {
    display: grid;
    grid-template-columns: 121px 121px 94px;
}

.postContainer button {
    background-color: transparent;
    border:none;
}

.createButton {
    background-color: transparent;
    border:none;
}

.categoryButton {
    background-color: transparent;
    border:none;
}

.recChallenges {
    display: grid;
    grid-template-columns: 122px 122px 113px;
    justify-content:center;
}

/*news page*/

.overlay a {
    text-decoration: none;
    display: flex;
    z-index: 1;
}

.overlay .news-title {
    font-size: 18px;
    font-weight: 700;
}

.overlay .newsName {
    font-size: 18px;
    font-weight: 400px;
}

.newsHeader {
    text-align: center;
    margin-bottom: 39px;
    margin-top: 39px;
}

.newsHeader h3 {
    size: 24px;
    font-weight: bold;
}

.newsstories {
    margin-top: 53px;
}

.newsstories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*account page*/

.accountSection {
    display: grid;
    grid-template-columns: 65px 281px;
    margin-bottom: 33px;
    justify-content: center;
}

.accountSection img {
    margin-top: 68px;
}

.accountButtons button {
    background: transparent;
    outline: #8BEEDD solid 3px;
    width: 145px;
    height: 44px;
    border: none;
    border-radius: 5px;
    color: #8BEEDD;
    font-size: 16px;
    font-weight: 600;
}

.youraccountinfo {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.youraccountinfo h1 {
    margin-top:58px;
    font-size: 32px;
    margin-bottom: -8px;
}

.youraccountinfo .joined {
    margin-top: 12px;
    font-size: 16px;
    margin-bottom: 0px
}

.games-played {
    font-size: 16px;
    margin-top: 7px;

}

.accountButtons button:hover {
    background-color:#8BEEDD;
    color: #111220;
}

.accountButtons {
    margin-bottom: 36px;
    display: flex;
    justify-content: center;
}

.accountButtons .help {
    margin-right: 12.5px;
}

.accountButtons .settings {
    margin-left: 12.5px;
}

.accountRatings {
    align-content: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 190px 166px;
    margin-bottom: 41px;
    margin-top: 6px;
}

.dailyRating, .rapidRating, .blitzRating, .bulletRating, .lessonsRating, .puzzlesRating {
    background-color:#282547;
    border-radius: 5px;
    width: 169px;
    height: 57px;
    margin-bottom: 17px;
    display: grid;
    grid-template-columns: 61px 104px;
}

.dailyRating img, .rapidRating img, .blitzRating img, .bulletRating img,.lessonsRating img, .puzzlesRating img{
    display:block;
    margin-top: 6px;
    margin-left: 8px;
    justify-content: center;
}



.recentGames {
    background-color:#080912;
    padding-top: 46px;
    padding-bottom: 38px;
}

.tamaraGame img, .piperGame img, .carterGame img {
    display:block;
    margin: auto;
    margin-bottom: 30px;
}

.viewAll {
    background-color: transparent;
    color: #ffff;
}

/*friends page*/

.friendHeader {
    text-align: center;
    font-size: 25px;
}

.account1 {
    background-color: #252747;
    margin-bottom: 20px;
    border-radius: 8px;
    height: 91px;
}

.account1 {
    display: grid;
    grid-template-columns: 89px 129px 76px;
}

.friendInfo {
    margin: auto;
}

.rightSideUp {
    margin: auto;
}

.msg-play {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.friends-play-icon {
    margin-right: 25px;
}

.friendInfo h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.friendInfo h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

/*forum post page*/

.commentContainer {
    width: 197px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 52px;
    margin-top: 14px;
}

input  {
    background-color: transparent;
    border: none;
    font-size: 16px;
    margin: auto;
    outline: none;
    padding-left: 16px;
}

.comment-bar {
    width: 307px;
    max-width: 400px;
    background: #D9D9D9;
    height: 44px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.commentContainer button {
    background-color: #252747;
    outline: none;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 44px;
    width: 59px;
    margin-left: 18px;
}

.mainPost, .response {
    background-color: #252747;
    width: 358px;
    height: 255px;
    border-radius: 13px;
    display: block;
    margin: auto;
    padding: 10px;
    margin-bottom: 35px;
}

.response .likeDislike {
    display: flex;
    justify-content:flex
}

.subResponse {
    background-color: #161834;
    width: 358px;
    height: 255px;
    border-radius: 13px;
    display: block;
    margin: auto;
    padding: 10px;
    margin-bottom: 35px;
}

.subResponse button {
    background-color: transparent;
    border: none;
}

.mainPost button {
    background-color: transparent;
    border: none;
}

.response button {
    background-color: transparent;
    border: none;
}

/*media queries*/

@media (max-width:450px) {
    .nav {
        transform: translateX(-100%)
    }
    
    .logo {
        margin: 0 66px 0 82px;
    }
}

/*media query tablet*/

@media (min-width: 750px) {

    /*header and navigation*/
    .flex-container {
        display: flex;
        background-color: #090B0E;
        align-items: center;
        text-align: center;
        width: 100%;
        position:sticky;
        top: 0;
    }
    
    .nav-items {
        display: flex;
        align-items: center;
        text-align: center;
        margin: auto;
        margin-top: 71px;
    }
    
    .logo {
        text-align: center;
    }
    
    
    .logo__img {
        width: 149px;
    }
    
    .friends:hover {
        color: gray;
    }

    /*tablet navigation */

    .nav {
        transform: translateX(-100%);
        top: 167px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        background-color:#090B0E;
        font-weight:800;
        width: 543px;
        font-size: 23px;
        height: 817px;
        position: fixed;
        top: 150px;
        left: 0;
    }

    .nav ul {
        margin-top: 31px;
        padding-left: 0;
    }

    .nav-first-three li {
        margin-bottom: 40px;
    }
    
    .nav-second-three li {
        margin-bottom: 40px;
    }
    
    .nav-third-three li {
        margin-bottom: 40px;
    }
    
    nav .logo__img {
        margin-top: 24px;
        display:block;
        margin-left:auto;
        margin-right: auto;
    }
    
    li img {
        height: 34.48px;
    }
    
    .sepLineLogo {
        height: 6px;
        margin-top: 35px;
    }
    
    .sepLinesHamburger {
        height: 6px;
        margin-bottom: 35px;
    }
    
    .bars {
        background-color:#ffff;
        width: 39px;
        height: 4px;
        margin: 8px 0;
    }
    
    a:link {
        color:white;
    }

    /*tablet home page*/

    .nav--toggle {
        left: 66% !important;
    }

    .friends {
        margin-left: 187px;
    }

    .friends img {
        width: 77px;
    }

    .bars {
        margin-right: 241px;
    }

    .gameButtons button {
        width: 195.07px;
        height: 155.67px;
        font-size: 20px;
    }

    .gameButtons {
        display: grid;
        grid-template-columns: 200px 290px 200px;
        margin-top: 100px;
    }

    .gameButtons p {
        font-size:20px;
        margin-bottom: 60px;
    }

    .dailyGame img {
        width: 80.79px;
    }
    
    .rapidGame img {
        width: 93.4px;
    }
    
    .blitzGame img{
        width: 60.43px;
    }
    
    .bulletGame img{
        width: 120.8px;
    }
    
    .lessonsGame img {
        width: 62.27px
    }
    
    .puzzlesGame img{
        width: 93.4px;
    }

    .friendBot {
        margin-top: 0px;
        margin-bottom: 75px;
        text-align: center;
        justify-content:center;
        display:flex;
    }
    
    .playFriend {
        outline: #8BEEDD solid 4px;
        width: 167px;
        height: 44px;
        border: none;
        border-radius: 5px;
        color: #8BEEDD;
        font-size: 16px;
        margin-right: 18px;
    }

    
    .playBot {
        outline: #8BEEDD solid 4px;
        width: 167px;
        height: 44px;
        font-size: 16px;
        margin-left: 18px;
    }
    
    .playBot img {
        width: 27px;
    }

    .recentGames h3 {
        font-size: 28px;
    }
    
    .recentGames button {
        font-size: 28px;
        font-weight: 200;
    }

    .recVid {
        margin-top: 43px;
    }
    
    .recVidTitle {
        font-size: 23px;
    }

    .vidInfo {
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .trendingContainer {
        width: 442px;
        margin:auto;
        margin-top: 69px;
        margin-bottom: 69px;
    }
    
    .trending-post-heading {
        color:#8BEEDD;
        font-size: 20px;
        font-weight: bold;
        margin-top:21px;
    }
    
    .trending-user {
        font-size: 16px;
        font-weight: 400;
        margin-bottom:0;
    }
    
    .trending-title {
        font-size: 18px;
        font-weight: 600;
        color: #DEDEDE;
        margin-top: 4px;
        margin-bottom: 0;
    }
    
    .trending-post-text {
        margin-top: 7px; 
        font-size: 16px;
        color: #DEDEDE;
        margin-bottom: 0;
    }
    
    .viewPostButton button {
        background: transparent;
        outline: #8BEEDD solid 3px;
        width: 145px;
        height: 44px;
        border: none;
        border-radius: 5px;
        color: #8BEEDD;
        font-size: 16px;
        margin-top: 32px;
        font-weight: bold;
    }

    /*tablet videos*/

    .videosHead {
        font-size: 24px;
    }
    
    .searchContainer {
        width: 440px;
    }
    
    input  {
        margin-left: 0px;
    }
    
    .search-bar {
        width: 440px;
        max-width: 440px;
    }
    
    .vidInfo {
        display: flex;
        flex-direction: row;
    }
    
    .secondary-vid-info {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }
    
    .vidpfp {
        width: 44px;
    }
    
    .by-and-view {
        display: flex;
        flex-direction:  row;
    }
    
    .video-title {
        font-size: 17px;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .content-creator {
        font-size: 15px;
        margin-top: 1px;
        margin-right: 11px;
    }
    
    .video-views {
        font-size: 12px;
        margin-top: 3px;
    }
    
    .thumbnail {
        margin-bottom: 9px;
    }
    
    .vidButtons {
        margin-top: 74px;
    }
    
    .vidButtons button {
        height:44px;
        width: 91px;
    }
    
    .vidButtons .popular {
        margin-right: 12.5px;
    }
    
    .vidButtons .popular:focus {
        margin-right: 12.5px;
    }
    
    .vidButtons .forYou, .live {
        margin-left: 12.5px;
        margin-right: 12.5px;
    } 
    
    .vidButtons .forYou:focus {
        margin-left: 12.5px;
        margin-right: 12.5px;
    }
    
    .vidButtons .live:focus {
        margin-left: 12.5px;
        margin-right: 12.5px;
    }
    
    .vidButtons .sort:focus {
        margin-left: 12.5px;
    }
    
    .vidButtons .live img {
        margin-right: 12.5px;
    }
    
    .vidButtons .sort {
        margin-left: 12.5px;
    }
    
    .videos-tab {
        display:grid;
        grid-template-columns: 400px 363px;
        align-items: center;
        justify-content: center;
    }
    
    .dutchVid .thumbnail img{
        justify-content: center;
        margin: 0;
        display:flex;
    }
    
    .dutchVid, .londonVid, .ruyVid, .stockfishVid, .kidVid, .mosquitoVid {
        margin-bottom: 38px;
    }

    .londonVid .thumbnail img{
        justify-content: center;
        margin: 0;
        display:flex;
    }
    
    .ruyVid .thumbnail img{
        justify-content: center;
        margin: 0;
        display:flex;
    }
    
    .stockfishVid .thumbnail img{
        margin: 0;
    }
    
    .kidVid .thumbnail img{
        justify-content: center;
        margin: 0;
        display:flex;
    }
    
    .mosquitoVid .thumbnail img{
        justify-content: center;
        margin: 0;
        display:flex;
    }

    .challengesHead {
        text-align: center;
    }

    .loadMore {
        margin-bottom: 63px;
    }

    .recChallenges {
        display: grid;
        grid-template-columns: 256px 256px 157px;
        justify-content:center;
    }

    .recChallenges img{
        width: 152px;
    }

    .recChallenges p {
        font-size: 21px;
    }

    /*tablet forum*/

    .postContainer {
        width: 774px;
        height: 282px;
        padding-top: 19x;
        padding-right: 121px;
        padding-left: 71px;
        margin-bottom: 35px;
    }
    
    .forumHeader {
        margin-top: 88px;
        margin-bottom: 52px;
    }
    
    .forumTopButtons {
        text-align: center;
        margin-bottom: 76px;
        margin-top: 56px;
    }
    
    .categoryButton {
        margin-right: 141px;
    }
    
    .createButton {
        margin-left: 141px;
    }
    
    .likeDislike {
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }

    .like img {
        width: 46.57px;
    }

    .dislike img {
        width: 46.57px;
    }

    .comment img {
        width: 46.57px;
    }

    .postContainer h4 {
        font-size: 19px;
    }

    .postContainer h3 {
        font-size: 21;
    }

    .postContainer p {
        font-size: 20px;
    }

    /* tablet news */

    .overlay a {
        text-decoration: none;
    }
    
    .overlay .news-title {
        font-size: 18px;
        font-weight: 700;
    }
    
    .overlay .newsName {
        font-size: 18px;
        font-weight: 400px;
    }
    
    .newsHeader {
        text-align: center;
        margin-bottom: 64px;
        margin-top: 81px;
    }
    
    .newsHeader h3 {
        size: 24px;
        font-weight: bold;
    }
    
    .newsstories {
        margin-top: 53px;
    }
    
    .newsstories {
        display: grid;
        grid-template-columns: 403px 364px;
        margin-top: 95px;
    }

    /*tablet account section */

    .accountSection {
        grid-template-columns: 108px 338px;
        margin-top: 18px;
        margin-bottom: 39px;
    }
    
    .accountSection img {
        margin-top: 68px;
        width: 119.38px;
    }
    
    .accountButtons button {
        outline: #8BEEDD solid 4px;
        width: 171.36px;
        height: 44px;
    }
    
    .youraccountinfo {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    
    .youraccountinfo h1 {
        margin-top:58px;
        font-size: 38px;
        margin-bottom: -8px;
    }
    
    .youraccountinfo .joined {
        margin-top: 12px;
        font-size: 20px;
        margin-bottom: 0px
    }
    
    .games-played {
        font-size: 20px;
        margin-top: 7px;
    }
    
    .accountButtons {
        margin-bottom: 62px;
        display: flex;
        justify-content: center;
    }
    
    .accountButtons .help {
        margin-right: 49.5px;
        font-size: 20px;
    }
    
    .accountButtons .settings {
        margin-left: 49.5px;
        font-size: 20px;
    }
    
    .accountRatings {
        grid-template-columns: 277px 233px;
        margin-bottom: 41px;
        margin-top: 6px;
    }

    .accountRatings p {
        font-size: 20px;
        margin: auto;
    }
    
    .dailyRating, .rapidRating, .blitzRating, .bulletRating, .lessonsRating, .puzzlesRating {
        width: 236.6px;
        height: 79.8px;
        margin-bottom: 40px;
        grid-template-columns: 89px 120px;
    }
    
    .dailyRating img, .rapidRating img, .blitzRating img, .bulletRating img,.lessonsRating img, .puzzlesRating img{
        display:block;
        margin-top: 6px;
        margin-left: 8px;
        justify-content: center;
        align-items: center;
    }
    
    .dailyRating img {
        width: 40.57px;
    }

    .rapidRating img {
        width: 56.06px;
    }

    .blitzRating img {
        width: 38.41px
    }

    .bulletRating img {
        width: 74.7px;
    }

    .lessonsRating img {
        width: 35.01px;
    }

    .puzzlesRating img {
        width: 61.6px;
    }
    
    
    .recentGames {
        font-size: 28px;
        padding-top: 46px;
        padding-bottom: 38px;
    }
    
    .tamaraGame img, .piperGame img, .carterGame img {
        display:block;
        margin: auto;
        margin-bottom: 30px;
    }
    
    .viewAll {
        font-weight: 200;
    }

    /*friends page*/

    .friendHeader {
        text-align: center;
        font-size: 25px;
    }

    .friendsList {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .account1 {
        margin-bottom: 20px;
        border-radius: 8px;
        height: 185.28px;
        width: 777px;
        grid-template-columns: 188px 162px 489px;
    }

    .rightSideUp img {
        width: 133.48px;
    }
    
    .friendInfo {
        margin: auto;
    }
    
    .rightSideUp {
        margin: auto;
    }

    
    
    .msg-play {
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .friends-msg-icon img {
        width: 69.73px;
    }

    .friends-play-icon img {
        width: 69.73px;
    }
    
    .friends-play-icon {
        margin-right: 25px;
    }
    
    .friendInfo h3 {
        font-size: 25px;
    }
    
    .friendInfo h4 {
        font-size: 23px;
        font-weight: 400;
    }

}

/*desktop media query*/

@media (min-width: 1030px) {

    .flex-container {
    height: 120px;
    }

    .nav-items {
    margin-top: 16px;
    }

    .friends img{
        width: 52px;
    }

    .bars {
        width: 32px;
        margin-bottom: 0px;
        margin-top: 5px;
    }
}